body {
	-webkit-text-size-adjust: none;
	margin-top: 0;
	padding: 0;
	font-family: Verdana, "Bitstream Vera Sans", sans-serif;
	line-height: 1.8em;
	color: #fff;
	text-align: left;
	min-width: 760px;
	background-color: #4a525a;
		align-items: center;
	justify-content: center;
	align-self: center;
	margin-left: auto;
	margin-right: auto;
	}

#blog {
	width: 900px;
	height: 680px;
	margin-left: auto;
	margin-right: auto;
	background-color: #4a525a;
	text-align: left;


}



	#steuerungoben {
	    height: 3.6em;
	    background-color: #2e2e2e;
	}

	#steuerungoben ul {
			    list-style-type: none;

			}

	#steuerungoben li {

			    display: inline-block;
			}

	#steuerungoben a {
			    display: inline-block;
			    width: 230px;
			    text-align: center;
			    text-decoration: none;
			    line-height: 3.5em;
			    color: white;
			}

	#steuerungoben a:hover {
			    background-color: #353535;
			}

#sidebar {
	width: 250px;
	height: auto;
	float: left;
	background-color: #4a525a;
	text-align: right;
	font-size: 1em;
	margin-top: 90px;
	}

#sidebar a:link {
	color: white;
	text-decoration: none;
}

a:link {

	text-decoration: none;
}



#main {
	background-color: #4a525a;
	width: auto;
	height: auto;
	margin-left: 280px;
}

h1 {
	margin-top: 70px;
}

#bottom {
		height: 3.6em;
		background-color: #4a525a;

	text-align: center;
	font-style: italic;
	font-size: 1em;
	margin-top: 50px;
}

#banner {width: 280px;
			height: 50px;
			background-color: #4a525a;
			float:right;
			font-size: 0.5em;
			line-height: 1.5em;
			margin-right: 213px;
			margin-top: 44px;
}
#wrapper {background-color: #4a525a;
			margin-left: 40px;
			margin-top: 40px;

}

a {
	color: white;
}

#gallery {
  position: relative;
}

#gallery figure {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#gallery figcaption {
  position: absolute;
  left: 1em;
  bottom: 0.5em;
  z-index: 2;
}



#gallery figure {
  animation: wechseln 15s infinite;
}

@keyframes wechseln {
    0% {opacity: 1;}
   25% {opacity: 1;}
   40% {opacity: 0;}
   92% {opacity: 0;}
  100% {opacity: 1;}
}

#gallery figure:nth-of-type(2) {
  animation-delay: 5s;
}
#gallery figure:nth-of-type(1) {
  animation-delay: 10s;
}


#template1{
  position: relative;
}

#template1 figure {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#template1 figcaption {
  position: absolute;
  left: 1em;
  bottom: 0.5em;
  z-index: 2;
}

#template1 figure {
  animation: wechseln 15s infinite;
}

#template1 figure {
  animation: wechseln 15s infinite;
}

#template1 figure:nth-of-type(2) {
  animation-delay: 5s;
}
#template1 figure:nth-of-type(1) {
  animation-delay: 10s;
}

#template1 {
	background-color: #2e2e2e;
	width: 600px;
	height: 150px;
	border: 1px solid black;

}








#template2{
  position: relative;
}

#template2 figure {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#template2 figcaption {
  position: absolute;
  left: 1em;
  bottom: 0.5em;
  z-index: 2;
}


#template2 {
	background-color: #2e2e2e;
	width: 600px;
	height: 150px;
	border: 1px solid black;

}
